@use "../../styles/mixins" as *;

.button {
  text-decoration: none;
  border-radius: 4px;
  border: 3px solid lightgray;
  padding: 10px 40px;
  color: lightgray;
  display: inline-block;
  transition: 0.3s ease;
  font-size: 0.9em;
  white-space: nowrap;
  background: none;
  position: relative;
  width: 100%;
  cursor: pointer;

  @include respond-to(md) {
    padding: 10px 20px;
    font-size: 16px;
  }

  &:hover {
    background: var(--background-chip-primary);
  }

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  &.loading {
    &::after {
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -7px;
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid #fff;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
