@use "../../styles/mixins" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-xs);
  width: 100%;
  text-align: left;

  .title {
    position: relative;
    overflow: hidden;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--color-text-dark);
    margin: 0 0 6px 0;
    letter-spacing: 0;

    &::after {
      position: absolute;
      top: 55%;
      margin-left: var(--space-sm);
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--color-text-primary);
      opacity: 0.7;

      @include respond-to(md) {
        margin-left: 10px;
      }
    }
  }
}
