.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;

  & > path {
    width: 100%;
    height: 100%;
    fill: white;
  }
}
