@use "@/styles/variables.scss" as *;

.wrapper {
  display: grid;
  min-height: 100vh;
  background-color: rgb(var(--steel));
  grid-template-rows: auto 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.header {
  grid-area: header;
  box-shadow: 0 2px 8px rgba(var(--black), 0.05);
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  overflow-y: auto;
  padding: 2rem;
}
