@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: var(--color-bg-aside);
  border-bottom: 1px solid var(--border-color);
  height: 60px;
  box-shadow: var(--shadow-sm);
  position: relative;
  z-index: 10;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
